.header {
  background-color: #000000;
  font: 12px "opensans-bold", sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  left: 0;
  top: 0;
}

ul {
  list-style: none outside;
  min-height: 48px;
  width: auto;
  text-align: center;
}

li {
  list-style: none;
  position: relative;
  display: inline-block;
  height: 48px;
}

a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #ffffff;
}

.banner {
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  padding-top: 260px;
  min-height: 953px;
}

.banner-background {
  background: #161415 url('https://wallpapercave.com/wp/7uw5sUQ.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}

p {
  font: 23px/1.9em "librebaskerville-regular", serif;
  color: white;
  margin: 0 auto;
  width: 40%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
